:root {
	--border-width: 80px;
	--custom-border-radius: 28px;
}

.custom-hero {
    margin-bottom: 20px;
	height: 400px;
	background-color: red;
	padding: 20px;
	border-radius: var(--custom-border-radius);
	/* cover */
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/dummy/hero.JPG) center center no-repeat;
    background-size: cover;
}

.custom-hero-1 {
    margin-bottom: 14px;
	height: 120px;
	background-color: red;
	padding: 8px;
	border-radius: var(--custom-border-radius);
}

.color-bg {
    background-color:  red;
    
}

.btn-get {
    background-color: #4D17E2;
    padding: 0.75rem 3rem;
    margin-left: -4%;
    margin-top: 20px;
}

.bg-card-cs {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/dummy/hero.JPG) center center no-repeat;
    background-size: cover;
    height: 260px;
}


